POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
DOCKER_NETWORK=
DOCKER_NETWORK_SUBNET=
DOCKER_NETWORK_API_IP=
DOCKER_NETWORK_DB_IP=
DOCKER_NETWORK_BFF_IP=
DOCKER_NETWORK_PROXY_IP=
DOCKER_NETWORK_PGADMIN_IP=
DOCKER_NETWORK_KEYCLOAKDB_IP=
DOCKER_NETWORK_KEYCLOAK_IP=
DOCKER_NETWORK_TUNNEL_IP=
KEYC_HOSTNAME=
CLOUDFLARE_TUNNEL_TOKEN=
