services:
  database:
    container_name: postgres
    image: postgres:17.6
    restart: unless-stopped
    env_file: .env
    expose:
      - "5432"
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    networks:
      - lakewatch_net

  pgadmin:
    container_name: pg_admin
    image: dpage/pgadmin4:latest
    restart: unless-stopped
    env_file: .env
    ports:
      - "8088:80"
    volumes:
      - ./data/pgadmin:/var/lib/pgadmin
    depends_on:
      - database
    networks:
      - lakewatch_net

  backend:
    container_name: php_fpm
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    expose:
      - "9000"
    env_file: .env
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - database
    networks:
      - lakewatch_net
  
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - lakewatch_net

networks:
  lakewatch_net:
    driver: bridge