services:
  database:
    container_name: db
    image: postgres:latest
    restart: unless-stopped
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data

  pgadmin:
    container_name: pg_admin
    image: dpage/pgadmin4:latest
    restart: unless-stopped
    env_file: .env
    ports:
      - "8088:80"
    volumes:
      - ./data/pgadmin:/var/lib/pgadmin
    depends_on:
      - database

  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8081:9000"
    env_file: .env
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - database